.nav-bar-container {
  background-color: #ffffff33;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 60px 10px;
  height: 80px;
}

.logo-logoName-container {
  display: flex;
  align-items: center;
}

.game-logo {
  height: 60px;
  width: 60px;
}

.logo-name {
  font-family: 'Roboto';
  color: #ffffff;
  font-weight: 500;
  font-size: 24px;
}

.score-container {
  width: 200px;
}

.display {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.no-display {
  display: none;
}

.score {
  font-family: 'Roboto';
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
}
